/*@charset "utf-8";*/

/* 全部的使用者都會載入這裡的 CSS。 常用  Media Queries */
@media screen and (min-width: 1200px) {
    /* 如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS。 */
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */
}

@media screen and (max-width: 767px) {
    /* 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。 */
}

@media screen and (max-device-width: 480px) {
    /* 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。 */
}

/*  body {
    margin:0;
    padding:0;
    background: #000 url(../images/login_bg.png) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    max-width:100% ;
    height:auto;
  }*/

/* 網頁佈局 */
#header {
	 width:100%;
     height:80px;
     text-align:center;
     background:#000000;
     margin:0 auto;
}
#sidebar {
	width: 30%;
    float: left;
    height: 700px;
    background:#383;
}

#footer {
    background-color:#000000;
    text-align: center;
    width:100%;
    clear:left;
    height:30px;
    background:#833;
    margin:0 auto;
}

        p {
          margin: 4px;
          font-size: 16px;
          font-weight: bolder;
          cursor: pointer;
        }
        .blue {
          color: blue;
        }
        .highlight {
          background: yellow;
        }

 /* #ExName {
       position:absolute;
       top: 100px;
       left: 100px;
       z-index: 1;
       width: 45%;
       margin-top: 47px;
       margin: 6% -3%;
  }*/

/* 活動切版css */
.banner01 {
  background-image: url(../images/image_a/act_banner_4finsh_01.png);
  background-repeat: no-repeat;
    background-position: center 0px;
    width: 1920px;
    height: 700px;
}

  .img01 {
    margin: 20% 35%;
    z-index: 1;
  }
  .img02 {
    margin-top: -35%;
    margin-left: 30%;
    z-index: 1;
  }
