/* UIUX 前端CSS版面設計 */
header {
	background-color: #FFECF5;
	width: 102%;
	height: 75px;
	margin: 0px 0px 0px;
	border: 2px #ccc solid;
    border-radius: 10px;
}
.body-margin {
	margin-bottom: 20px;
}
.text-center {
	text-align: center;
}
.logo-text {
	font-size: 24px;
}
.logo-header {
	padding: 20px;
	float: left;
}
.menu-header {
	padding: 40px;
	float: right;
}
footer {
	background-color: #FFECF5;
	width: 102%;
	height: 50px;
	border: 2px #ccc solid;
    border-radius: 10px;
}