<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shopping cart -- angularJS</title>
</head>

<body>
    <h1>Your Order</h1>
    <!-- ShippingCart angularJS -->
    <div ng-app="ShippingCart">
        <div ng-controller='CartController'>
            <div ng-repeat='item in items'>
                <span>{{item.title}}</span>
                <input ng-model='item.quantity'>
                <span>{{item.price | currency}}</span>
                <span>{{item.price * item.quantity | currency}}</span>
                <button ng-click="remove($index)">Remove</button>
            </div>
        </div>
    </div>
    <!-- End - ShippingCart angularJS -->
    <hr>

</body>

<!-- 腳本加載 -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
<script src="angular-1.5.7/angular.min.js"></script>
<script src="angular-1.5.7/angular.js"></script>
<!-- AngularJS 開發 Link  -->
<script src="angularjs/shipping_cart.js"></script>
</html>